.jumbotron {
    height: 92vh;
}
.navbar{
	/*margin-top: 2rem;*/
	height: 3.93rem;
}
img.mat {
	width: 60%;
	height: auto;
	display: block;
	margin: 1rem auto;
	padding: none;
	background-color: #008B8B;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cardboard.jpg');
	background-repeat: no-repeat;
	background-size: cover;

  outline: 5px solid #00CED1;
  outline-offset: 0px;
  }
